<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnections" connectionString="Server=(LocalDB)\MSSQLLocalDB; Database=Hospital_Management_System_Database; Trusted_Connection=true;"
			  providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>